
    <div class="contenedor_nav">
      
      <ul class="nav nav-pills mover">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" >Portafolio</a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#habilidades">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#proyectos">Proyecto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Contact()" tabindex="-1" aria-disabled="true">Contacto</a>
        </li>
        <li  class="nav-item">
          <!--<a class="nav-link" routerLink="add">Nuevo</a> -->
        </li>
      </ul>
    </div>
    <div>
      
      
      
    </div>
   
