<div class="container">
    <div>
        <h1>Editar Productos</h1>
    </div>
    <div>
        <form action="">
        <div>
            <label for="">Title</label>
            <input class="form-control" #title [(ngModel)]="proyect.title" name="title" type="text">
        </div>
        <div>
            <label for="">Company</label>
            <input class="form-control" #company [(ngModel)]="proyect.company" name="company" type="text">
        </div>
        <div>
            <label for="">Date</label>
            <input class="form-control" #date [(ngModel)]="proyect.date" name="date" type="text">
        </div>
        <div>
            <label for="">Content</label>
            <input class="form-control" #content [(ngModel)]="proyect.content" name="content" type="text">
        </div>
        <div>
            <label for="">Image</label>
            <input class="form-control" #img [(ngModel)]="proyect.img" name="img" type="text">
        </div>
        <div>
            <label for="">Tolls</label>
            <input class="form-control" #tools [(ngModel)]="proyect.tools" name="tools" type="text">
        </div>
        <div>
            <button class="button-product button_atras" role="button" routerLink="/">Cancelar</button>
            <button class="button-product" (click)="ActualizarProducto(title.value, company.value, date.value, content.value, img.value, tools.value )">Actualizar</button>
        </div>
    </form>
</div>

