<div class="cont_form">
    <form action="" (ngSubmit)="onSubmit()" class="form_skill" >
        <h2>Agregar Nuevo Proyecto</h2>
        <div>
            <label for="">Titulo</label>    
            <input type="text" name="title" id="" [(ngModel)]="title"> {{title}}
        </div>
        <div>
            <label for="">Company</label>
            <input type="text" name="company" id="" [(ngModel)]="company"> {{company}}
        </div>
        <div>
            <label for="">date</label>
            <input type="text" name="date" id="" [(ngModel)]="date"> {{date}}
        </div>
        <div>
            <label for="">content</label>
            <input type="text" name="content" id="" [(ngModel)]="content"> {{content}}
        </div>
        <div>
            <label for="">image</label>
            <input type="text" name="img" id="" [(ngModel)]="img"> {{img}}
        </div>
        <div>
            <label for="">tools</label>
            <input type="text" name="tools" id="" [(ngModel)]="tools"> {{tools}}
        </div>
        <button><a class="nav-link active" aria-current="page" routerLink="/proyect" >Cancelar</a></button>
        <input type="submit" value="Crear" class="btn_crear_skill">
    </form>
