<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<footer class="footer_area section_padding_130_0">
      <div class="container">
        <div class="row">
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Footer Logo-->
              <div class="footer-logo mb-3"></div>
              <p>Web Designer Full Stack java and Angular</p> 
              <!-- Copywrite Text-->
              <div class="copywrite-text mb-5">
                <p class="mb-0">Created <i class="lni-heart mr-1"></i>by <a class="ml-1" href="https://www.njpinget.com">njpinget</a></p>
              </div>
              <!-- Footer Social Area-->
              <div class="footer_social_area">
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/pinget969" data-toggle="tooltip" data-placement="top" title="" data-original-title="github"><i class="fa fa-github"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="mailto:njpinget@gmail.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="email"><i class="fa fa-envelope"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/nelson-pinget-05a427206/" data-toggle="tooltip" data-placement="top" title="" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.njpinget.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="internet"><i class="fa fa-globe"></i></a>
              </div>
              
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">About</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Terms &amp; Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">Support</h5>
              <!-- Footer Menu -->
              <div class="footer_menu">
                <ul>
                  <li><a target="_blank" rel="noopener noreferrer" href="mailto:njpinget@gmail.com">Help</a></li>
                  <li><a target="_blank" rel="noopener noreferrer" href="mailto:njpinget@gmail.com">Support</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">Contact</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  <li><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/nelson-pinget-05a427206/">Linkedin</a></li>
                  <li><a target="_blank" rel="noopener noreferrer" href="mailto:njpinget@gmail.com">Email</a></li>
                  <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/pinget969">Github</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="contenedor_footer">
      <a class="titulo-footer" href="https://www.linkedin.com/in/nelson-pinget-05a427206/">Developed by Pinget Nelson</a>
      <p class="fecha-footer">2023</p>
      <!--iconos?-->
  </div>
