<div class="contenedor-header">
    <!--
    <h1 *ngIf="logIn">PROTECTED</h1>
    <h1>PUBLICO</h1>-->
    <div class="container-description">
        <div class="content-text-description">
            <article>
                <h1>Hola, Soy Pinget Nelson</h1>
                <p>
                Actualmente estoy enfocado al desarrollo Web. Me encanta desarrollar y crear proyectos que sean satisfactorios, funcionales y atractivos para el usuario.
                </p>
            </article>
        </div>
        <div class="content-img-description">
            <img class="img-description-perfil" src="./../../../assets/img/header/perfil-sin-fondo.webp" alt="">
        </div>
    </div>
</div>

