
.contenedor-header{
    /*background-image: url("../../../assets/img/header/abstract.webp");*/
    align-items: center;
    background: #f4f9fad0 100%;
    background-image: linear-gradient(to top, #ffffff 0%, #f4f9fad0 100%);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.container-description {
    align-items: center;
    display: flex;
    justify-content: center;
}
.content-text-description{
    max-width: 50%;
}

article {
    /*  leverage cascade for cross-browser gradients  */
    background: radial-gradient(
      hsl(100 100% 60%), 
      hsl(200 100% 60%) 
    ) fixed;
    background: conic-gradient(
      hsl(100 100% 60%), 
      hsl(200 100% 60%), 
      hsl(100 100% 60%) 
    ) fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  } 
  
  
  h1, p, body {
    margin: 0;
  }
  
  h1 {
    font-size: 10vmin;
    line-height: 1.1;
    max-inline-size: 15ch;
    margin: auto;
  }
  
  p {
    font-family: "Dank Mono", ui-monospace, monospace;
    margin-top: 1ch;
    line-height: 1.35;
    max-inline-size: 40ch;
    margin: auto;
  }
 .content-img-description{
  max-width: 400px;
 }
.img-description-perfil{
  max-width: 80%;
  clip-path: polygon(100% 0, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0 0);
}

/* */
@media (max-width: 993px) {
  .container-description{
    flex-direction: column;
  }
  .content-img-description{
    display: flex;
    justify-content: center;
  }
}

@media (max-width:380px) {
  .contenedor-header{
    height: 100%;
  }
}