<div class="contenedor-header">
    <!--
    <h1 *ngIf="logIn">PROTECTED</h1>
    <h1>PUBLICO</h1>-->
    <div class="container-description">
        <div class="content-text-description">
            <article>
                <h1>Hi, I'm Pinget Nelson.</h1>
                <p>
                    I am currently focused on Web development. I love developing and creating projects that are satisfying, functional and attractive to the user.                </p>
            </article>
        </div>
        <div class="content-img-description">
            <img class="img-description-perfil" src="./../../../assets/img/header/perfil-sin-fondo.webp" alt="">
        </div>
    </div>
</div>

