<div class="container">
    <div>
        <h1>Editar Productos</h1>
    </div>
    <div>
        <form action="">
        <div>
            <label for="">Titulo</label>
            <input class="form-control" #title [(ngModel)]="itemEdit.title" name="title" type="text">
        </div>
        <div>
            <label for="">Comentario</label>
            <input class="form-control" #comentario [(ngModel)]="itemEdit.comentario" name="comentario" type="text">
        </div>
        <div>
            <label for="">Imagen</label>
            <input class="form-control" #img [(ngModel)]="itemEdit.img" name="img" type="text">
        </div>
        <div>
            <button class="button-product button_atras" role="button" routerLink="/listarProduct">Cancelar</button>
            <button class="button-product" (click)="ActualizarItem(title.value, comentario.value, img.value )">Actualizar</button>

        </div>
    </form>
</div>

