<div class="contenedor-nav">
    <h1 *ngIf="logIn">PROTECTED</h1>
    <h1>PUBLICO</h1>

    
    <div class="container-description">
        <div class="text-description">
            <h1>Hola, Soy Pinget Nelson</h1>
            <h3>
            Actualmente estoy enfocado al desarrollo Web. Me encanta desarrollar y crear proyectos que sean satisfactorios, funcionales y atractivos para el usuario.
            </h3>
        </div>
        <div class="img-description">
            <img src="./../../../assets/img/header/perfil.png" alt="">
        </div>
    </div>
</div>