<!-- Iconos  https://www.flaticon.es/iconos-gratis/iniciar-sesion-->

<div class="content_login">
    <div class="login">
        <img src="./assets/iconos/candado.png" width="50%" alt="">
        <h1>Login</h1>
        <form action="">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingname" placeholder="text">
            <label for="floatingname">User</label>
            <!--<mat-hint>El usuario debe ser valido</mat-hint>-->
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingname" placeholder="password">
            <label for="floatingname">Password</label>
          </div>
          <button class="btn btn-primary">
            iniciar sesion 
          </button>
          <!--<mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput>
          </mat-form-field>-->
        </form>
    </div>
<table>
  
</table>
</div>

